.header{
	width: 100%;
	min-width: 1080px;
	background-color: #fff;
	border-bottom: 1px solid #e5e5e5
}
.header>div{
	font-size: 32px;
	font-weight: 600;
	line-height: 44px;
	padding: 22px 0;
}
.header>div>a{
	color: #ff0036;
}
.info{
	width: 100%;
	margin: 50px auto;
	padding: 100px 0;
	text-align: center;
	background-color: #fff;
}
.info>h2{
	margin-bottom: 50px;
}
.info>button>a{
	color: #fff;
}

